/* Estilos para el carrusel */

/* Flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: var(--blanco-puro);
  padding: 20px;
  border-radius: 50%;
}

/* Puntos de paginación */
.swiper-pagination-bullet {
  background-color: var(--blanco-puro);
}

.swiper-pagination-bullet-active {
  background-color: var(--turquesa-claro);
}